.question {
    text-align: left;
}

.questionLabel {
    margin-bottom: 0.3cm;
    margin-left: 17px;
}

.choiceLabel {
    margin-bottom: 0.3cm;
    margin-left: 10px;
}

.addChoice {
    margin-top: 0.3cm;
}

.addQuestion {
    margin-top: 0.5cm;
}

.submit {
    margin-top: 1cm;
}