.StudentForm {
    text-align: center;
  }
  
  .StudentForm-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .StudentForm-logo {
      animation: StudentForm-logo-spin infinite 20s linear;
    }
  }
  
  .StudentForm-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .StudentForm-link {
    color: #61dafb;
  }
  
  .arrange-vertically > * {
    display: block;
}
  